.contact-content{
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.info a{
  margin-right: 20px;
  text-decoration: none;
  font-size: 40px;
  text-align: center;
}

.info i{
}

.fa-facebook{
  color: #3B5998;
}

.fa-skype{
  color: #3B5998;
}

.fa-linkedin{
  color: #0077B5
}

.fa-envelope{
  color: #000;
}
