.contact-content{
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

.info a{
  margin-right: 20px;
  text-decoration: none;
  text-align: center;
}

.contact-content .email{
  font-size: 20px;
}

.contact-content .main{
  border-bottom: 1px solid #ccc;
}

.info .social{
  font-size: 20px;
}

.info .username{
}

.contact-content a{
  color: #517a9e;
}

.social .username{
  color: #517a9e;
}

.contact-content a:hover, .username:hover{
  color: darken(#517a9e, 20%);
}

.info i{
}
