html{
  font-family: "Varela Round", sans-serif;
}

body{
  width: 80%;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

h1{
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 30px;
  margin-top: 70px;
}

.nav{
  text-align: center;
  margin-bottom: 30px 0;
}

.resume-header{
  text-align: center;
  margin-top: 20px;
}

.email{
  color: #517a9e;
  font-size: 18px;
  text-decoration: none;
}

.nav-link{
  text-decoration: none;
  text-transform: uppercase;
  margin: 20px 10px;
  font-size: 24px;
  color: #999;
}

.resume-body{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.section h2{
  font-size: 20px;
  border-bottom: 1px solid #000;
}
